@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Signika:600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

body {
	background-image: url("images/nononsense.jpg");
	background-repeat: cover;
	background-size: cover;
	color: #333333;
	text-align: center;
	font-family: 'Signika', sans-serif;
	/*font-family: helvetica;*/
	font-size: 18px;
	margin: 2em;
	position: relative;
	}

.image {
	position: relative;
	width: 100%;
   
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 110px;
	color: #640000;
	text-transform: uppercase;
	/*position: absolute;*/
	position: absolute;
	bottom: 600px;
	left: 0;
	width: 100%;
	letter-spacing: 2px;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	color: 821B15;
	font-style: capitalize;
	bottom: 690px;
	position: relative;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	/*font-style: italic;*/

}

ul{
	/*display: table;*/
	/*margin-left: 0;*/
	/*padding-left: 0;*/
	font-size: 12px;
	font-family: helvetica;
	/*font-style: bold;*/
	color: red;
	text-align: center;
	/*list-style-type: none;*/
	list-style: none;
}
li{
/*	display: table-row;
	
	&:before
		content: "•";
		display: table-cell;
		padding-right: 0.4em;*/
	font-size: 18px;
	font-weight: 800px;
	color: #707070;
	text-transform: uppercase;
	text-align: center;
	list-style: none;
	letter-spacing: 2px;
}

